{% extends 'base.html' %} {% block head %}
<title>about</title>
{% endblock head %} {% block body %}
<div class="head">
  <div class="left">
    <img src="{{url_for('static',filename='image/logo.jpeg')}}" />
    <h1>Butcher Shop</h1>
  </div>

  <div class="right">
    <a href=" {{url_for('index')}}"> Home</a>
    <a href=" {{url_for('contact')}}"> Contact</a>
    <a href=" {{url_for('service')}}"> Service</a>
        <a href=" {{url_for('about')}}"> About </a>
  </div>
</div>

<div class="center">
  <div class="center_item">
    <p>
      Fresh, Safe <br />
      Quatity Meats
    </p>
    <img src="{{url_for('static',filename='image/download (1).jpeg')}}" />
  </div>
  <div class="center_item">
    <img src="{{url_for('static',filename='image/logo.jpeg')}}" />
  </div>
  <div class="center_item">
    <img src="{{url_for('static', filename='image/images.jpeg')}}" />
  </div>
  <div class="center_item">
    <p>
      We Provide <br />
      Best Meat
    </p>
    <img src="{{url_for('static',filename='image/images1.jpeg')}}" />
  </div>
</div>

<footer>
  <div class="conts">
    <div class="index_loc">
      <i class="fa fa-map-marker"></i>
      <p>OUR MAIN OFFICE</p>
      <h4>
        NO# 23 weedfffffff <br />
        Jos North, Plateau State.
      </h4>
    </div>
    <div class="index_tel">
      <i class="fas fa-phone"></i>
      <p>PHONE NUMBER</p>
      <h4>
        +2349999999 <br />
        +2349999999
      </h4>
    </div>
    <div class="index_mail">
      <i class="fas fa-envelope"></i>
      <p>EMAIL</p>
      <h4>heello@mail.com</h4>
    </div>
    <div class="index_fax">
      <i class="fas fa-fax"></i>
      <p>FAX</p>
      <h4>1-2349999999</h4>
    </div>
  </div>
  <div class="links">
    <a href=" {{url_for('index')}}"> Home</a>
    <a href=" {{url_for('contact')}}"> Contact</a>
    <a href=" {{url_for('service')}}"> Service</a>
    <a href=" {{url_for('about')}}"> About</a>
  </div>

  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
  </div>
</footer>
{% endblock body %}
